{% render 'partials/head.liquid' %}

<main>
    <ul>
        {% for link in links %}
            <li><a href="/garden/{{ link }}">{{ link }}</a></li>
        {% endfor %}
    </ul>
</main>

<img class='plant-left' src="assets/plant1.gif" alt="">
<img class='plant-right' src="assets/plant2.gif" alt="">

{% render 'partials/foot.liquid' %}