{% render 'partials/head.liquid' %}

<main>
    <ul>
        {% for link in links %}
            <li><a href="/post/{{ link }}">{{ link }}</a></li>
        {% endfor %}
    </ul>
</main>

{% render 'partials/foot.liquid' %}