* {
    box-sizing: border-box;
}

header {
    h1 {
        text-align: center;
    }

    nav {
        width: fit-content;
        margin: 0 auto;
        border: 1px solid black;
        position: relative;
        top: -1px;
    }

    nav ul {
        padding: 0;
        list-style: none;
        display: inline-flex;
        padding-inline: 0.5em;

        li::after {
            content: "|";
            display: inline-block;
            padding-inline: .5em;
        }

        li:last-of-type::after {
            content: "";
            padding-inline: 0em;
        }
    }
}


body {
    height: 100dvh;
    margin: 0;

    background: pink;
    background: linear-gradient(to top, mintcream, pink);

    color: brown;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: .5em 0;
    margin: 0;
    border-bottom: 1px solid black;
}

a {
    color: black;
}

article {
    background: white;
    border-radius: 5px;
    padding: 1em;
    width: 500px;
    width: fit-content;
    max-width: 100dvw;
}

ul {
    padding: 0;
}

.plant-left,
.plant-right {
    position: absolute;
    bottom: 1rem;
    width: clamp(200px, 50dvw, 400px);
}

.plant-left {
    left: 0;
}

.plant-right {
    left: 5%;
}